:root {
  --oneUP: 1.776rem;
  --twoUP: 3.161rem;
  --threeUp: 6.621rem;
  --onDown: 0.562rem;
  --twoDown: 0.316rem;
  --black: #333333;
  --gray: #928779;
  --white: #FDFFF7;
}



* {
  box-sizing: border-box;
  color: var(--black)
}

body {
  background-color: var(--black);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.main-container {
  background: var(--gray);
  padding:2rem;
  margin: 3rem auto;
  min-width: 550px;
  max-width: 650px;
  border-radius: 4px;

}

#tools {
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1.778rem;

  /* flex-flow: column;
  gap: 0.562rem;
  justify-content: space-around; */
}

#buttonRock:hover,
#buttonPaper:hover,
#buttonScissors:hover,
#playGame:hover {
  filter: invert(0.015);
  transform: translate3d(-1px,2px,-1px);
  box-shadow: 0px 1px 2px 1px;

}


#buttonRock {
  font-size: 5.621rem;
  border-radius: 1%;
  max-height: 9.994rem;
  transition: transform 0.3 ease;
}

#buttonPaper {
  font-size:5.1em;
}

#buttonScissors {
  font-size:3.35rem;
  padding: 1.778rem 0;
}

#buttonRock,
#buttonPaper,
#buttonScissors, {
  border: 0.562rem solid var(--black);
  font-weight: 900;
  background-color: var(white);
}

 #game-area {
  display:grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  grid-gap: 0.778rem;
  padding: 1rem 0;
}

#button-container {
  align-self: center;
  justify-self: center;
}

.tab {
  grid-column: 2;
}
.tab2 {
  grid-column:3;
  grid-row:1;
}


span {
  font-size: 3.161rem;
  padding: 0 2rem;
  color: var(--white);
}

#score-container strong {
  background-color: var(--black);
  margin:0 0.562rem;
}


p {
  font-size: 1.778rem; 
  font-weight: 900;
  margin:0;
}

#text {
align-self: center;
display: none;

}
#lastHuman {
grid-column:2;
}
h1 {
  text-align: center;
}

strong {
  background-color: var(--black);
  filter: blur(0.1px);
  padding:1rem;
}
.menu {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
}


.menu  #playGame {
  background-color: var(--black);
  height:100%;
  color: var(--white);
  font-size: 1.778rem;
  font-weight: 900;
}

