:root {
  --oneUP: 1.776rem;
  --twoUP: 3.161rem;
  --threeUp: 6.621rem;
  --onDown: 0.562rem;
  --twoDown: 0.316rem;
  --black: #333333;
  --gray: #928779;
  --white: #FDFFF7;
}



* {
  box-sizing: border-box;
  color: var(--black)
}

body {
  background-color: var(--black);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.main-container {
  background: var(--gray);
  width: 100%;
  aspect-ratio: 9 / 16;
  padding:2rem;
  display: grid;
  grid-template-rows: 16fr 9fr;
  grid-gap: 1rem;
}

#tools {
  overflow: hidden;
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-gap: 1.778rem;

  /* flex-flow: column;
  gap: 0.562rem;
  justify-content: space-around; */
}

#buttonRock {
  font-size: 5.621rem;
}

#buttonPaper {
  font-size:5.1em;
}

#buttonScissors {
  font-size:3.35rem;
}

#buttonRock,
#buttonPaper,
#buttonScissors {
  font-weight: 900;
}

 #game-area {
  display:grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 2fr 2fr
  max-height: 150px;
  grid-gap: 0.778rem;
}

.tab2 {
  grid-column:3;
  grid-row:1;
}

#score-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  padding: 0.316rem;
  grid-row: 3;
  grid-column: 2;
}
span {
  font-size: 3.161rem;
  padding: 0 2rem;
  color: var(--white);
}

#score-container strong {
  background-color: var(--black);
  margin:0 0.562rem;
}
/*

.tab {
  grid-column: 2;
}

.bkScore1 {
  grid-column: 1;
  grid-row: 4;
  background-color: var(--black);
  aspect-ratio: 9 / 16;
}


p {
  font-size: 0.8rem; */


#text {
align-self: center;

}
#lastHuman {
grid-column:2;
}
h1 {
  text-align: center;
}